body {
    display: block;    
    margin: 0%;    
    font-family: 'Ubuntu Condensed';
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    background-color: teal;
    color: #fff;
    align-items: center;
    width: 100;    
}

.subtitulo {
    margin-top: 2rem;   
    font-weight: normal;
}

.titulo {
    margin-top: 2rem;
    font-size: 4rem;
    text-align: center;
    font-weight: normal;
}

.titulo:hover {
    color: yellow;
    font-size: 6rem;
}

.boton {
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    background-color:#000;   
    border-style: none;
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 30px;
}

.boton:hover {
    background-color: gray;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;    

}

.card {
    background-color: rgb(46, 202, 194);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 5%;
    padding: 5% 20% 7% 20%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 15px 29px 11px 24px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 15px 29px 11px 24px rgba(0,0,0,0)
}

.card:hover {
    background-color: orange;
}

.titulo-card {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 15%;
    text-align: center;
}

.imagen-card, main > .card > svg {

    width: 150px;
    max-width: 200px;
    padding: 20%;    
}

.descripcion-card {
    font-size: 1.3rem;
    text-align: center;
    padding: 2%;    
    
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 768px and up) */
@media (min-width: 600px) {

    .subtitulo{
        font-size: 1.5rem;
    }

    .titulo {
        font-size: 5rem;
    }

    .boton {
        font-size: 1.5rem;
    }
   
    main{
        
        flex-direction: row;
        justify-content: space-evenly;        
    }

    .card {       
        width: 1em;
        margin-left: 1%;
        margin-right: 1%;
        padding: 3% 13% 3% 13%;
    
    }

    .titulo-card {
        margin: 1em;
        width: 10em;
    }

    .descripcion-card {
        width: 8em;
    }

}
