body {
    display: flex;
    flex-direction: column;
    margin: 0%;    
    font-family: 'Ubuntu Condensed';
    box-sizing: border-box;    
}

header {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #000;
    color: #fff;
    justify-content: center;
    align-items: center;    
}

.subtitulo {
    margin-top: 2rem;   
    font-weight: normal;
}

.titulo {
    margin-top: 2rem;
    font-size: 4rem;
    text-align: center;
    font-weight: normal;
}

.boton {
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    background-color:rgb(129, 122, 122);    
    border-style: none;
    border-radius: 0px;
    padding: 10px;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    margin: 5%;
    padding: 5% 20% 20% 20%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 15px 29px 11px 24px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 15px 29px 11px 24px rgba(0,0,0,0);

}

.titulo-card {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 15%;
}

.imagen-card, main > .card > svg {
    width: auto;
    height: 13em;
}

.descripcion-card {
    font-size: 1.3rem;
    text-align: center;
    padding: 5%;    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .subtitulo {
        margin-top: 2rem;   
        font-weight: normal;
        font-size: 1.5rem;
    }
    
    .titulo {
    
        margin-top: 2rem;
        font-size: 4.1rem;
        text-align: center;
        font-weight: normal;
    }
    
    .boton {
        color: #fff;
        font-weight: bold;
        font-size: 1.7rem;
        background-color:rgb(129, 122, 122);    
        border-style: none;
        border-radius: 0px;
        padding: 10px;
        margin-bottom: 20px;
    }
   

    
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        margin: 5%;
        margin-left: 10%;
        margin-right: 10%;
        padding: 5% 20% 12% 20%;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 15px 29px 11px 24px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, 15px 29px 11px 24px rgba(0,0,0,0);
    
    }
    
    .titulo-card {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 15%;
    }
    
    .imagen-card, main > .card > svg {
        width: auto;
        height: 13em;
    }
    
    .descripcion-card {
        font-size: 1.4rem;
        text-align: center;
        padding: 5%;    
    }
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .subtitulo {

        margin-top: 2rem;   
        font-weight: normal;
        font-size: 1.3rem;
    }
    
    .titulo {
    
        margin-top: 1rem;
        font-size: 4rem;
        text-align: center;
        font-weight: normal;
    }
    
    .boton {
        color: #fff;
        font-weight: bold;
        font-size: 1.3rem;
        background-color:rgb(129, 122, 122);    
        border-style: none;
        border-radius: 0px;
        padding: 10px;
        margin-bottom: 30px;
    }

    main {
        display: flex;
        flex-direction: row;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        margin: 5%;
        margin-left: 16%;
        margin-right: 16%;
        padding: 5% 20% 10% 20%;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 15px 29px 11px 24px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, 15px 29px 11px 24px rgba(0,0,0,0);
    
    }
    
    .titulo-card {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 15%;
    }
    
    .imagen-card, main > .card > svg {
        width: auto;
        height: 13em;
    }
    
    .descripcion-card {
        font-size: 1.5rem;
        text-align: center;
        padding: 5%;    
    }
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .subtitulo {

        margin-top: 2rem;   
        font-weight: normal;
        font-size: 2rem;
    }
    
    .titulo {
    
        margin-top: 1rem;
        font-size: 5rem;
        text-align: center;
        font-weight: normal;
    }
    
    .boton {
        color: #fff;
        font-weight: bold;
        font-size: 1.3rem;
        background-color:rgb(129, 122, 122);    
        border-style: none;
        border-radius: 0px;
        padding: 10px;
        margin-bottom: 50px;
    }



    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        margin: 5%;
        margin-left: 16%;
        margin-right: 16%;
        padding: 5% 20% 10% 20%;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 15px 29px 11px 24px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, 15px 29px 11px 24px rgba(0,0,0,0);
    
    }
    
    .titulo-card {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 15%;
    }
    
    .imagen-card, main > .card > svg {
        width: auto;
        height: 13em;
    }
    
    .descripcion-card {
        font-size: 1.5rem;
        text-align: center;
        padding: 5%;    
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .subtitulo {

        margin-top: 2rem;   
        font-weight: normal;
        font-size: 2rem;
    }
    
    .titulo {
    
        margin-top: 0.5rem;
        font-size: 5rem;
        text-align: center;
        font-weight: normal;
    }
    
    .boton {
        color: #fff;
        font-weight: bold;
        font-size: 1.5rem;
        background-color:rgb(129, 122, 122);    
        border-style: none;
        border-radius: 0px;
        padding: 10px;
        margin-bottom: 40px;
    }
}