body {
    background-image: url("img/wallpaperLight.jpg");
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(170, 204, 161);
    width: 350px;
    margin: 20px;
    padding: 15px;
    font-family: "Comic Sans Ms";
}

h2 {
    text-align: center;
}

textarea {
    border-radius: 5px;
}

input[type=button] {
    margin-top: 20px;
}

label > input {

    margin-bottom: 15px;
}

