body {
    background-image: url("img/wallpaperLight.jpg");    
    display: flex;
    flex-direction: column;
    margin: 0%;
    height: 100%;
    background-position: center;
    background-repeat: space;
    background-size: 100%;

    
}

form h2 {
    text-align: center;
}

textarea {
    border-radius: 5px;
    
}


input[type=submit] {
    margin-top: 20px;
}

/* Selectores "hijos inmediatos" se una signo mayor */
form > input {
    margin-bottom: 10px;
    margin-top: 5px;
}

ul > li {
    font-weight: bold;
    border-bottom-style: solid;
    border-color: gray;
    border-width: 2px;
}

ol > li {
    color: dodgerblue;
    margin: 10px;
    
}

ol > li:hover {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: unset;
}

/* Selectores que le siguen a otra etiqueta (+) */
label + textarea {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Selectores contenidos en X etiqueta */
body form {
    display: flex;
    flex-direction: column;
    background-color: rgb(170, 204, 161);
    width: 350px;
    margin: 20px;
    padding: 15px;
    font-family: "Comic Sans Ms";
    align-self: center;
}

form input[type=submit] {
    color: white;
    font-size: 20px;
    font-family: "Comic Sans Ms";
    background-color:rgb(72, 120, 192);
    border-style: none;
    width: 100px;
    height: 50px;
    justify-self: center;
}


/* Selector Sibling - Todos los 
elementos debajo de cierta etiqueta (~) */

/* form ~ div {
    display: flex;
    flex-direction: row;
    margin: 0px;
    background-color: gray;
    width: unset;
    height: 200px;
} */

/* Selectores de pseudo-elementos llevan dos puntos */

form input::placeholder{
    
    font-weight: bold;
    font-family: "Consolas";    
}

form input[type=button]:hover{
    background-color: rgb(175, 69, 207);
}

#header1 {
    display: flex;
    flex-direction: column;
    border-style: groove;
    width: 80%;
    margin: 1em;
    padding: 15px;
    border-radius: 20px;
    align-self: center;
}

footer {
    display: flex;
    flex-direction: row;
    margin: 0px;
    background-color: #000;
    width: 100%; /*Las medidas vw y
             vh son unidades respecto al tamano del viewport
            100vw = todo el ancho del viewport*/
    height: 40vh;
    justify-content: flex-start;
    
}

.cajas {
    display: flex;
    flex-direction: row;
    

}

.copyright {
    display: flex;
    background-color: blue;
    margin: 5%;
    padding: 2%;

}
.subcajas {
background-color: green;
margin: 3%;
padding: 3%;
width: 160%;
height: 60%;
font-size: 1.2rem;
font-weight: bold;

}

.subcajas > div {
    margin: 5%;
    width: 150%;
}

.subcajas img {
    width: 6em;
}



/* Selectores regex 

Selector que encuentra coincidencias
de palabra en las clases
[class*="dog"] {
    color: red;
}

Selector que encuentra coincidencia 
en la primera palabra de la clase
[class^="icon"] {
    color: blue;
}

Selector que encuentra coincidencia
en la ultima palabra de la clase
[class$="pet"]{
    color: pink;
} */

/* Si se quiere que los elementos
hereden por fuerza las propiedades
de sus elementos padres se debe establecer
el atributo inherit. (tambien unset, initial)

a {
    color: inherit;
} */

table  {
    background-color: burlywood;
    width: 70%;
    margin: 5%;
    text-align: center;
    align-self: center;  
}


#cabezaTab {
    text-transform: uppercase;
}

.TamPx > label{
    font-size: 16px;
}

.TamEm > label{
    font-size: 1em;
}

.TamPt > label{
    font-size: 12pt;
}

.TamPor > label{
    font-size: 100%;
}

.TamRem > label{
    font-size: 1rem;
}







